<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>borrar</servlet-name>
  	<display-name>borrar</display-name>
  	<description></description>
  	<servlet-class>Controladores.borrar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CRUD_Controladores</servlet-name>
  	<display-name>CRUD_Controladores</display-name>
  	<description></description>
  	<servlet-class>CRUD_Controladores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>peticionesParaMenuPrincipal</servlet-name>
  	<display-name>peticionesParaMenuPrincipal</display-name>
  	<description></description>
  	<servlet-class>Servelets.peticionesParaMenuPrincipal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>administradorCampo</servlet-name>
  	<display-name>administradorCampo</display-name>
  	<description></description>
  	<servlet-class>Servelets.administradorCampo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>administrarRegistroCampo</servlet-name>
  	<display-name>administrarRegistroCampo</display-name>
  	<description></description>
  	<servlet-class>Servelets.administrarRegistroCampo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>administrarRegCampo</servlet-name>
  	<display-name>administrarRegCampo</display-name>
  	<description></description>
  	<servlet-class>Servelets.administrarRegCampo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminRegCampo</servlet-name>
  	<display-name>adminRegCampo</display-name>
  	<description></description>
  	<servlet-class>Servelets.adminRegCampo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminInicioProyecto</servlet-name>
  	<display-name>adminInicioProyecto</display-name>
  	<description></description>
  	<servlet-class>ControladoresServlets.adminInicioProyecto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>regNewProyect</servlet-name>
  	<display-name>regNewProyect</display-name>
  	<description></description>
  	<servlet-class>Servlets.regNewProyect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>selectCultivosParaProyecto</servlet-name>
  	<display-name>selectCultivosParaProyecto</display-name>
  	<description></description>
  	<servlet-class>Servlets.selectCultivosParaProyecto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>borar</servlet-name>
  	<display-name>borar</display-name>
  	<description></description>
  	<servlet-class>Servlets.borar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>obtenerListaLotesParaSelect</servlet-name>
  	<display-name>obtenerListaLotesParaSelect</display-name>
  	<description></description>
  	<servlet-class>Servlets.obtenerListaLotesParaSelect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>operationCancalerProyecto</servlet-name>
  	<display-name>operationCancalerProyecto</display-name>
  	<description></description>
  	<servlet-class>Servlets.operationCancalerProyecto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>obtenerListaProyectos</servlet-name>
  	<display-name>obtenerListaProyectos</display-name>
  	<description></description>
  	<servlet-class>Servlets.obtenerListaProyectos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>obtenerTablaDetalles</servlet-name>
  	<display-name>obtenerTablaDetalles</display-name>
  	<description></description>
  	<servlet-class>Servlets.obtenerTablaDetalles</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificacionEstadosDeCampos</servlet-name>
  	<display-name>VerificacionEstadosDeCampos</display-name>
  	<description></description>
  	<servlet-class>Servlets.VerificacionEstadosDeCampos</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>borrar</servlet-name>
  	<url-pattern>/borrar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CRUD_Controladores</servlet-name>
  	<url-pattern>/CRUD_Controladores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>peticionesParaMenuPrincipal</servlet-name>
  	<url-pattern>/peticionesParaMenuPrincipal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>administradorCampo</servlet-name>
  	<url-pattern>/administradorCampo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>administrarRegistroCampo</servlet-name>
  	<url-pattern>/administrarRegistroCampo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>administrarRegCampo</servlet-name>
  	<url-pattern>/administrarRegCampo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminRegCampo</servlet-name>
  	<url-pattern>/adminRegCampo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminInicioProyecto</servlet-name>
  	<url-pattern>/adminInicioProyecto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>regNewProyect</servlet-name>
  	<url-pattern>/regNewProyect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>selectCultivosParaProyecto</servlet-name>
  	<url-pattern>/selectCultivosParaProyecto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>borar</servlet-name>
  	<url-pattern>/borar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>obtenerListaLotesParaSelect</servlet-name>
  	<url-pattern>/obtenerListaLotesParaSelect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>operationCancalerProyecto</servlet-name>
  	<url-pattern>/operationCancalerProyecto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>obtenerListaProyectos</servlet-name>
  	<url-pattern>/obtenerListaProyectos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>obtenerTablaDetalles</servlet-name>
  	<url-pattern>/obtenerTablaDetalles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerificacionEstadosDeCampos</servlet-name>
  	<url-pattern>/VerificacionEstadosDeCampos</url-pattern>
  </servlet-mapping>
</web-app>
